body {
  margin: 0px;
  padding: 0px;
}
html {
  font-family: 'Lato', sans-serif;
}
#logo {
  height: 80%;
  margin-left: 50px;
}
nav > a {
  color: white;
  font-size: 11px;
  text-decoration: none;
  padding: 4px 20px;
}
header {
  display: flex;
  align-items: center;
  background-color: #c0392b;
  height: 60px;
  justify-content: space-between;
}
#hero {
  width: 100%;
  height: 550px;
  display: flex;
  color: black;
  align-items: flex-start;
  font-size: 30px;
  background-image: url('track-shipment.jpg');
  background-size: cover;
  background-position: center center;
}
h2 {
  font-size: 50px;
  padding: 30px 40px;
  margin: 0px;
}
h3 {
  font-size: 36px;
  padding: 0px 40px;
}
h4 {
  padding: 0px 40px;
  font-size: 28px;
  margin: 0px;
}
.action_button {
  padding: 20px 30px;
  border-radius: 10px;
  margin: 20px 10px;
  background-color: #c0392b;
  color: white;
}
.button_text {
  font-size: 16px;
}
#RI_info {
  background-color: #f0eded;
  padding: 20px 100px;
  line-height: 2;
}
#RI_bottom {
  background-color: #f0eded;
  padding: 20px 50px;
  line-height: 2;
  display: flex;
  justify-content: space-between;
}
p {
  font-size: 18px;
  text-align: left;
  padding: 20px 40px;
}
.info_button {
  background-color: #807d7d;
  padding: 20px 30px;
  border-radius: 10px;
  margin: 10px 10px;
  color: white;
}
.all_buttons {
  display: flex;
  justify-content: center;
}
button {
  border: none;
}
.employee_image {
  width: 600px;
  margin: 20px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#app_info {
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  line-height: 1.3;
  align-items: center;
}
.shipping_details {
  background-color: #c0392b;
  width: 450px;
  height: 40px;
  margin: 20px 20px 20px 60px;
  display: inline-block;
}
.sub_heading {
  font-size: 18px;
  color: white;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}
input {
  width: 250px;
  height: 40px;
  margin-left: 60px;
  margin-bottom: 20px;
}
#tracking_image {
  width: 450px;
  margin-left: 60px;
  margin-bottom: 20px;
}
#booking_no {
  border: 0px solid lightgrey;
  background-color: #f0eded;
  border-radius: 5px;
}
#search_icon {
  width: 20px;
}
#booking_details {
  font-weight: bolder;
  margin: 20px 60px 50px 60px;
  font-size: 20px;
}
.your_booking {
  font-weight: bolder;
  color: grey;
}
#progress_bar {
  width: 1000px;
  margin: 20px 60px;
}
.car_info {
  border-bottom: 2px solid black;
  font-size: 18px;
  line-height: 2.5;
  margin-left: 60px;
  display: block;
  width: 450px;
}
.boxes {
  display: inline-block;
  margin-bottom: 40px;
  vertical-align: top;
}
.location_status {
  display: inline-block;
}
.red_box {
  width: 130px;
  height: 100px;
  background-color: red;
  position: absolute;
}
.white_box1 {
  width: 120px;
  height: 48px;
  position: absolute;
  border: 1px solid black;
  background-color: white;
  z-index: 1;
  margin-left: 8px;
  padding-top: 50px;
}
.white_box2 {
  width: 120px;
  height: 40px;
  position: absolute;
  border: 1px solid black;
  background-color: white;
  z-index: 2;
  margin-left: 8px;
}


.download_app {
  width: 120px;
  margin: 10px 20px 0px 0px;
}
#app {
  vertical-align: middle;
}
#app_features {
  width: 80%;
  text-align: left;
}
.footer {
  font-size: 16px;
  line-height: normal;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
#footer_menu {
  display: flex;
  justify-content: flex-end;
}
.social_media {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  margin-top: 10px;
}
.footer > a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}
.footer_title {
  margin-bottom: 10px;
}
#copyright {
  font-size: 14px;
}
.footer_links {
  margin-right: 70px;
  padding-bottom: 50px;
}
